.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: "RedHatText";
    src: url(../fonts/RedHatText-VariableFont_wght.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "RedHatText";
    background-color: hsl(20, 50%, 98%);
}
.main {
    display: flex;
    justify-content: center;
    gap: 30px;

    margin-top: 100px;
}
h1 {
    font-size: 40px;
}
h2 {
    color: hsl(14, 86%, 42%);
    font-size: 28px;
    padding-bottom: 10px;
}
a{
    font-weight: 600;
}

#items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    margin-top: 30px;
}

.img-item {
    width: 260px;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.container div {
    display: flex;
    justify-content: center;
}



.but-add-tocard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    background-color: white;
    

    transform: translateY(-20px);
    
    font-family: "RedHatText";
    font-weight: 600;

    border-radius: 30px;
    border: 1px solid hsl(14, 86%, 42%);

    padding: 10px;
    padding-inline: 25px;
}
.but-add-tocard:hover {
    color: hsl(14, 86%, 42%);
}



.category-item {
    color: rgba(0, 0, 0, 0.644);
}
.name-item {
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    padding-inline: 0;
}
.price-item{
    color: rgb(219, 51, 0);
    font-weight: 600;
}





.cart {
    display: flex;
    flex-direction: column;

    background-color:white;

    width: 400px;
    padding: 20px;

    border-radius: 10px;
}
#products-inCart{
    display: flex;
    flex-direction: column;

    padding-bottom: 30px;
}
.item-inCart {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 15px;
    padding-top: 15px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}

.info-item{
    display: flex;
    flex-direction: column;
}
.infoPrice-inCart {
    display: flex;
    gap: 10px;
}


.name-inCart {
    font-weight: 600;
    padding-bottom: 10px;
}
.count-inCart {
    color: rgb(219, 51, 0);
    font-weight: 600;
    padding-right: 10px;
}
.price-inCart {
    color: rgba(0, 0, 0, 0.644);
}
.priceSum-inCart {
    color: rgba(0, 0, 0, 0.644);
    font-weight: 600;
}


#but-remove-inCart {
    background-color:white;
    border-radius:10px;
    cursor: pointer;

    width: 20px;
    height: 20px;

    border: 1px solid rgba(0, 0, 0, 0.473);
}


.order {
    display: flex;
    justify-content: space-between;

    align-items:center;
}
.textOrder {
    font-size: 14px;
}
.numOrder {
    font-size: 25px;
    font-weight: 1000;
}

.notification {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 5px;

    padding: 15px;
    margin-top: 20px;

    border-radius: 10px;

    background-color: hsl(20, 50%, 98%);
}
.text-notification {
    font-size: 14px;
}


.confirmOrder{
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;

    border: 0;
    border-radius: 30px;

    font-family: "RedHatText";
    font-weight: 600;
    font-size: 16px;
    color: white;

    background-color: rgb(219, 51, 0);
}
.confirmOrder:hover {
    background-color: rgb(179, 42, 0);
}
